{% if done is defined %}
    <div class="done">Товар удалён</div>
    <script>
        setTimeout(function() { window.location.reload();}, 1000);
    </script>
{% else %}
    <section class="site-popup-window popup-main-content js--site-popup-window">
        <div class="site-w site-default-text">
            <div class="site-flex site-flow site-flow-bottom mb40">
                <div class="site-flex-column site-flex-main x4 m10">
                    {% include "includes/item-minicard.html.twig" with {'item': item, 'class' : 'site-flex-item site-product small js-data' } %}
                </div>
                <div class="site-flex-column x3-4 m10">
                    <form action="{{ path('cabinet_item_delete', {'id': item.id}) }}">
                        Вы дествительно хотите удалить товар ?
                        <input type="hidden" name="confirm" value="1"/>
                        <button class="site-button yellow w-full big form-field-margin-flow"><span class="text">ДА</span></button>
                        <button class="site-button w-full big form-field-margin-flow js--popup-main-close" ><span class="text">ОТМЕНА</span></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="popup-main-close js--popup-main-close"><span class="svg close">

    <svg  version="1.1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         width="11" height="10" viewBox="-0.982 -0.4 11 10" enable-background="new -0.982 -0.4 11 10" xml:space="preserve">

    <polygon points="0.54,0 0,0.54 4.26,4.74 0,9 0.54,9.54 4.74,5.28 9,9.54 9.54,9 5.28,4.74 9.54,0.54 9,0 4.74,4.26 
        "/>
    </svg>
    </span></div>
    </section>
{% endif %}

