{#

Шаблон страницы дизайнеров

#}

{% extends 'main/main.html.twig' %}

{% block body %}
<div class="text-center">
    <div class="h1 first">{{ pageInfo.name }}</div>
    {{ pageInfo.textFormatted|raw }}
</div>
<section class="site-flex site-flow flex-wrap site-designers mt-60 mb-20">
    {% for key, value in designers %}
        {% include "includes/designer-minicard.html.twig" with {'item': value} %}
    {% endfor %}
    <section class="catalog-pagination">
        <section class="content">
            {{ pagerfanta(designers, 'default', {'omitFirstPage': true, 'prev_message': '←','next_message': '→', 'css_current_class': 'active', 'page_template': '<a class="pagination-item" href="%href%"%rel%>%text%</a>', 'span_template': '<span class="pagination-item active">%text%</span>'}) }}
        </section>
    </section>
</section>
{% endblock %}