{#

Часть шаблона админки для списковых сущностей: вывод кнопки насктройки списка полей

#}
<li>
<a class="sonata-action-element" href="{{ admin.generateUrl('configure')}}">
    <i class="fa fa-empire" aria-hidden="true"></i>
    {{ 'link_action_configure'|trans({}, 'SonataAdminBundle') }}</a>
</li>