<a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn btn-sm btn-default copy_link" title="{{ 'clone_action'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-copy" aria-hidden="true"></i>
</a>